/*
* NAVIGATION/MENU
*/

.main-navigation {

  background-color: #071e22;
  line-height: 50px;
  border-bottom: 1px solid #404040;

  li {
    padding: 0;
  }

  ul {
    width: 100%;
  }

  a {
    color: $page_text_color !important;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

header nav ul li {
  width: 25%;
  text-align: center;
}

/*
* SECONDARY NAVIGATION/MENU (Login/Sign up)
*/

.login-sign-up {
  width: 25%;
  float: right;
  text-align: right;
  display: flex;
  padding: 2em;
  font-size: 1em;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #071e22;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    //text-align: center;
    padding: 0.5em;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}