@media screen and (max-width: 1200px) {
  .site-branding-text {
    display: none;
  }
}

.header-image {
  max-height: 40vh;
  overflow: hidden;

  img {
    display: block;
    width: 100vw;
  }
}

.site-header {
  @media screen and (min-width: $query__small) {

  }
}

.site-branding {
  width: 50%;
  height: 100px;
  float: left;
  padding: 1em;
  display: flex;
}

.custom-logo {
  margin-right: 1em;

  img {
    display: block;
    height: 65px;
    width: auto;
  }
}

.site-branding-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px;
}

.site-title {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1em;

  a {
    color: $page_text_color !important;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site-description {
  color: $page_text_color !important;
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
}

/*
Header Menus
*/
@import "header-menu";