.header-image {
  max-height: 40vh;
  overflow: hidden;

  img {
    display: block;
    width: 100vw;
  }
}

.site-header {
  //#21759b
  @media screen and (min-width: $query__small) {

  }
}

.site-branding {
  width: 50%;
  height: 100px;
  float: left;
  padding: 1em;
  display: flex;
}

.custom-logo {
  margin-right: 1em;

  img {
    display: block;
    height: 65px;
    width: auto;
  }
}

.site-branding-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px;
}

.site-title {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1em;

  a {
    color: white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site-description {
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 100;
}

//.login-sign-up {
//  width: calc(50% - 10px);
//  line-height: 90px;
//  float: right;
//  margin-right: 10px;
//  text-align: right;
//}

.login-sign-up {
  //width: 50px;
  //line-height: 90px;
  width: 30%;
  float: right;
  margin-right: 10px;
  text-align: right;
  display: flex;
  padding: 2em;
  font-size: 1em;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #071e22;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    //text-align: center;
    padding: 0.5em;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/*
* NAVIGATION/MENU
*/

.main-navigation {

  li {
    padding: 0;
  }

}

header nav {
  background-color: #071e22;
  line-height: 50px;
  border-bottom: 1px solid #404040;
}

header p.site-description {
  margin: 0;
}

header nav ul {
  width: 100%;
}

header nav ul li {
  width: 25%;
  text-align: center;
}

header nav ul li a {
  color: white;
}

li a:hover {
  //background-color: #679289;
}